/* color scheme */

@soul-backgroud-color: #F4ECC8;
@soul-primary: #502016;
@soul-border-color: #594539;
@soul-black: #120E0B;
@soul-white: #FFFFFF;

/* font sizes */

@soul-font-size-h1: 48px;
@soul-font-size-h2: 32px;
@soul-font-size-h3: 28px;
@soul-font-size-h4: 24px;
@soul-font-size-h5: 20px;
@soul-font-size-h6: 16px;

@soul-font-size-giant: 24px;
@soul-font-size-big: 16px;
@soul-font-size-bigish: 14px;
@soul-font-size-medium: 12px;
@soul-font-size-smallish: 10px;
@soul-font-size-small: 8px;
@soul-font-size-tiny: 6px;